@import "variables/colors";
@import "variables/fotns";
@import "reset";
@import "themes/dark";
@import "themes/light";

.app {
  background: var(--dark-white-color);

}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #450072;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f5f500;
}