.BgAnimation {
  width: 100%;
}

#ani {
  position: relative;
}

img {
  position: absolute;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(calc(700px));
  }
}

@media screen and (max-width: 650px) {
  @keyframes animate {
    0% {
      transform: translateY(-100px);
    }

    100% {
      transform: translateY(calc(470px));
    }
  }
}
