.BgAnimation {
  width: 100%;
  position: absolute;
  height: 750px;
}

#ani {
  position: relative;
}

.img {
  position: absolute;
  // width: 100%;
  animation: animate 3s linear infinite;
}

.imgMob {
  position: absolute;
  width: 100%;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-250px);
  }

  100% {
    transform: translateY(calc(-100px));
  }
}

@media screen and (max-width: 650px) {
  @keyframes animate {
    0% {
      transform: translateY(-250px);
    }

    100% {
      transform: translateY(calc(-150px));
    }
  }
}
