@import "app/styles/variables/fotns";

.footerWrapper {
  background-color: var(--purple-color);
  width: 100%;
  margin-top: 11.25rem;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  padding:0 12.5rem ;
  margin: 0 auto;
  padding-top: 5rem;
}

.footer {
  padding: 3.75rem 12.5rem 2.375rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  span {
    color: var(--grey-color);
    @include Text3;
  }
}

@media (max-width: 1599px) {
  .content {
    max-width: 1200px;
    padding: 0 10px;
    padding-top: 5rem;
    margin: 0 auto;
  }

  .footer {
    padding: 3.5rem 10px;
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
   .content {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 5rem;
  }

  .footer {
    padding: 3.5rem 10px;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  /* stylelint-disable value-list-comma-space-after */
  // .content {
  //   display: flex;
  //   flex-direction: column;
  // }

  // .footerWrapper {
  //   margin-top: 6.25rem;
  // }

  // .footer {
  //   display: flex;
  //   flex-wrap: wrap;
  //   gap: 0.5rem;
  //   align-items: center;
  //   padding: 0;
  //   justify-content: center;
  //   margin-top: 2.1875rem;
  //   padding-bottom: 1.25rem;
  // }
  /* stylelint-enable */
}


@media screen and (max-width: 450px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .footerWrapper {
    margin-top: 6.25rem;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin-top: 2.1875rem;
    padding-bottom: 1.25rem;
  }
}