@import "app/styles/variables/fotns";

.senderEmailForm {
  display: flex;
  flex-direction: column;
}

.senderEmailForm-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.senderEmailForm-header-title {
  @include Ti3;

  color: var(--white-color);
}

.senderEmailForm-header-subTitle {
  @include Text2;

  color: var(--grey-color);
}

.senderEmailForm-forms {
  margin-top: 56px;
}

.senderEmailForm-btn {
  margin-top: 28px;
}

.btn {
  width: 100%;
}

.senderEmailForm-text {
  @include Text3;

  margin-top: 32px;

  span {
    color: var(--grey-color);
    opacity: 0.6;
  }

  a {
    opacity: 1;
    color: var(--grey-color);
    text-decoration: none;
  }
}

@media screen and (max-width: 650px) {
  .senderEmailForm {
    display: flex;
    width: 100%;
    border-right: none;
    padding-right: 0;
  }

  .senderEmailForm-text {
    margin-bottom: 26px;
  }
}
