.BgAnimation {
  width: 100%;
}

#ani {
  position: relative;
  width: 100%;

  img {
    position: absolute;
    animation: animate 5s linear infinite;
  }
}

@keyframes animate {
  0% {
    transform: translateY(-6.25rem);
  }

  100% {
    transform: translateY(calc(55.875rem));
  }
}

@media screen and (max-width: 650px) {
  @keyframes animate {
    0% {
      transform: translateY(-5.25rem);
    }

    100% {
      transform: translateY(calc(40.75rem));
    }
  }
}
