// .BgAnimation {
//   width: 100%;
//   position: absolute;
//   height: 750px;
// }

// #ani {
//   position: relative;
// }

// .img {
//   position: absolute;
//   width: 100%;
//   animation: animate 3s linear infinite;
// }

// .imgMob {
//   position: absolute;
//   width: 100%;
//   animation: animateMob 3s linear infinite;
// }

// .img12 {
//   position: absolute;
//   width: 100%;
//   animation: animate12 3s linear infinite;
// }

// @keyframes animate {
//   0% {
//     transform: translateY(-250px);
//   }

//   100% {
//     transform: translateY(calc(-100px));
//   }
// }

// @keyframes animateMob {
//   0% {
//     transform: translateY(-250px);
//   }

//   100% {
//     transform: translateY(calc(-100px));
//   }
// }


// @keyframes animate12 {
//   0% {
//     transform: translateY(-1450px);
//   }

//   100% {
//     transform: translateY(calc(-1350px));
//   }
// }


// @media screen and (max-width: 990px) {
//   @keyframes animate12 {
//     0% {
//       transform: translateY(-1250px);
//     }

//     100% {
//       transform: translateY(calc(-1050px));
//     }
//   }
// }


// @media screen and (max-width: 790px) {
//   @keyframes animate12 {
//     0% {
//       transform: translateY(-1050px);
//     }

//     100% {
//       transform: translateY(calc(-850px));
//     }
//   }
// }

// @media screen and (max-width: 650px) {
//   @keyframes animateMob {
//     0% {
//       transform: translateY(-250px);
//     }

//     100% {
//       transform: translateY(calc(-150px));
//     }
//   }
// }

// @media screen and (max-width: 2800px) {
//   .img {
//     position: absolute;
//     width: 100%;
//     animation: animate 3s linear infinite;
//   }
//   @keyframes animate {
//     0% {
//       transform: translateY(-350px);
//     }
//     100% {
//       transform: translateY(calc(-250px));
//     }
//   }
// }


.BgAnimation{
  width: 100%;
}

#ani {
  position: relative;
  img{
    position: absolute;
    animation: animate 5s linear infinite ;
  }
}




@keyframes animate {
  0%{
    transform: translateY(-100px);
  }

  100%{
    transform: translateY(calc(750px));
  }
}


@media screen and (max-width:650px) {
  @keyframes animate {
  0%{
    transform: translateY(-100px);
  }

  100%{
    transform: translateY(calc(300px));
  }
}
 
}

@media screen and (max-width: 650px) {
  .BgAnimation{
    display: none;;
  }
}