.BgAnimation {
  width: 100%;
}

#ani {
  position: relative;
  width: 100%;

  svg {
    position: absolute;
    animation: animate 5s linear infinite;
    stroke: var(--grey-color);
    stroke-width: 0.0625rem;
    width:0.5rem;
    fill: var(--dark-white-color);
  }
}

@keyframes animate {
  0% {
    transform: translateY(-6.25rem);
  }

  100% {
    transform: translateY(calc(55.875rem));
  }
}

@media screen and (max-width: 650px) {
  @keyframes animate {
    0% {
      transform: translateY(-5.25rem);
    }

    100% {
      transform: translateY(calc(40.75rem));
    }
  }
}
