.drop {
  position: absolute;
  bottom: 200px;
  -webkit-animation: fall 0.63s linear infinite;
  -moz-animation: fall 0.63s linear infinite;
}

@keyframes fall {
  to { margin-top: 200px; }
}

@keyframes fall {
  to { margin-top: 200px; }
}

@keyframes fall {
  to { margin-top: 200px; }
}
