@import "app/styles/variables/fotns";

.NotFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;

  @include Ti2;

  flex-direction: column;
  gap: 25px;
}

.element-animation {
  margin: 2rem 0;
  font-size: 3rem;
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
