@import "app/styles/variables/fotns";

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.Button {
  cursor: pointer;
  border-radius: 80px;
  min-width: auto;
  outline:none;
  @include BTNT1;
  text-align: center;
  text-transform: none;
  color: var(--white-color);
  margin: 0;
  letter-spacing: 0.02em;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.Purple {
  background: var(--purple-color);
  border: none;
}

.Purple:disabled {
  color: var(--white-color);
  opacity: 0.6;
}

.Purple:hover {
  color: var(--white-color);
  box-shadow: 0 4px 8px rgb(69 0 114 / 12%);
  background: linear-gradient(84.96deg, #450072 60.94%, #17cee0 97.9%);
  background-size: 190%;
  transition: 500ms background-position ease-in-out;
  background-position: right;
}

.NonColor {
  background: transparent;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.NonColor:disabled {
  color: var(--white-color);
  opacity: 0.6;
}

.NonColor:hover {
  color: var(--purple-color);
  background: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0);
}

.Blue {
  background: var(--blue-color);
  border: none;
  color: var(--white-color);
  transition: color 0.4s;
}

.Blue:disabled {
  background: var(--blue-color);
  color: var(--white-color);
  opacity: 0.8;
}

.Blue:hover {
  color: var(--purple-color);
}

.Small {
  width: 151px;
  height: 56px;
  padding: 16px 40px;
}

.Medium {
  width: 317px;
  height: 48px;
  padding: 12px 24px;
}

.Big {
  width: 580px;
  height: 56px;
  padding: 16px 24px;
}

@media screen and (max-width: 1200px) {
  .Small {
    padding: 12px 30px;

    @include BTNT2;
  }
}

@media screen and (max-width: 765px) {
  .Small {
    padding: 6px 11px;

    @include BTNT3;
  }

  .Medium {
    width: 300px;
    height: 44px;
    padding: 12px 24px;

    @include BTNT2;
  }
}

@media screen and (max-width: 650px) {
  .Small {
    padding: 8px 17px 9px;

    @include BTNT3;
  }
}
