@import "app/styles/variables/fotns";

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.Button {
  cursor: pointer;
  border-radius: 80px;
  min-width: auto;
  outline: none;

  @include BTNT1;

  text-align: center;
  text-transform: none;
  color: var(--white-color);
  margin: 0;
  letter-spacing: 0.02em;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
/* stylelint-enable */
.outline {
  // padding: 0.625rem 1rem;
  // border: 1px solid var(--primary-color);
  // color: var(--primary-color);
  // background: none;
}

.Purple {
  background: var(--purple-color);
  border: none;
}

.Purple:disabled {
  color: var(--white-color);
  opacity: 0.6;
}

.Purple[disabled]:hover {
  color: var(--white-color);
  opacity: 0.6;
}

.Purple:hover {
  color: var(--white-color);
  box-shadow: 0 4px 8px rgb(69 0 114 / 12%);
  background: linear-gradient(84.96deg, #450072 60.94%, #17cee0 97.9%);
  background-size: 190%;
  transition: 500ms background-position ease-in-out;
  background-position: right;
}

.NonColor {
  background: transparent;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.NonColor:disabled {
  color: var(--white-color);
  opacity: 0.6;
}

.NonColor[disabled]:hover {
  color: var(--white-color);
  opacity: 0.6;
}

.NonColor:hover {
  color: var(--purple-color);
  background: var(--white-color);
  border: 1px solid rgb(255 255 255 / 0%);
}

.Blue {
  background: var(--blue-color);
  border: none;
  color: var(--white-color);
  transition: color 0.4s;
}

.Blue:disabled {
  background: var(--blue-color);
  color: var(--white-color);
  opacity: 0.6;
}

.Blue[disabled]:hover {
  background: var(--blue-color);
  color: var(--white-color);
  opacity: 0.6;
}

.Blue:hover{
  color: var(--purple-color);
}

.Small {
  width: 9.4375rem;
  height: 3rem;
  padding: 1rem 2.5rem;
}

.Medium {
  width: 19.8125rem;
  height: 3rem;
  padding: 0.75rem 1.5rem;
}

.Big {
  width: 36.25rem;
  height: 3.5rem;
  padding: 0.75rem 1.5rem;
}


@media screen and (max-width: 1200px) {
  .Small {
    padding: 0.75rem 2rem;
    @include BTNT2;
  }
}

@media screen and (max-width: 768px) {
  .Small {
    padding: 0.375rem 0.75rem;
    @include BTNT3;
  }

  .Medium {
    width: 18.75rem;
    height: 2.75rem;
    padding: 0.75rem 1.5rem;

    @include BTNT2;
  }
}

@media screen and (max-width: 650px) {
  .Small {
    padding: 0.5rem 1rem 0.56rem;

    @include BTNT3;
  }
}
