@import "app/styles/variables/fotns";

*::before,
*::after {
  box-sizing: border-box;
}

.customField {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  display: inline-block;
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }
}

.customField input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  // height: 3.25rem;
  @include Text2;

  color: var(--grey-color);
  appearance: none;
  background: inherit;
  padding-left: 0.5rem;
  border-radius: 0;
  border-bottom: 1px solid #ffffff40;
  width: 100%;
  outline: none;

  &:hover,
  &:focus{
    border-bottom: 1px solid #ffffff71;
  }
}



.customField {
  input[value] {
    padding-top: 22px;
    padding-bottom: 8px;
  }

  //fix input's background-color autofill input 
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

}

 .isValue {
  input {
    border-bottom: 1px solid #ffffff71;
  }
}

.isValue .label {
  display: none;
}

.label {
  position: absolute;
  display: block;
  left: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 36px;
  color: var(--grey-color);
  opacity: 0.6;
  transform-origin: top left;
  @include Text2;
  -webkit-transform: translate(0, -20px) scale(1);
  transform: translateY(0, -20px) scale(1);
  transition:
    all 0.25s ease,
}

.errorInput {
  input {
    color: var(--error-color);
  }
}


.customField input:focus + .label,
.customField input:not(:placeholder-shown) + .label {
  position: absolute;
  top: 0.75rem;

  @include Text3;

  opacity: 0.6;
}


.customField .errorMessage {
  width: 100%;
  position: absolute;
  top: 55px;
  left: 5px;
  color: var(--error-color);

  @include Text3;
}

.customField .errorMessage:empty {
  opacity: 0;
}
