@import "app/styles/variables/fotns";


.Illustrations{
  margin-top: 197px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 100%);
}

.IllusContainer{
  display: flex;
  justify-content: space-between;
  height: 642px;
  margin-top: 40px;
}
.IllusTitle{
  z-index: 1;
  @include Ti1;
  color: var(--balck-color);
  span {
    color: var(--blue-color);
  }
}

.IllusRightBlok {
  flex: 2;
  display: grid;
  grid-template-rows: 452px 320px 320px;
  grid-template-columns: repeat(2, 50%);
  overflow: hidden;
  overflow-y: scroll;
  height: 641px;
  width: 787px;
}

.IllusRightBlok::-webkit-scrollbar-thumb {
  background: #f0f0f000 !important;
  border-radius: 5px;
}

.IllusRightBlok::-webkit-scrollbar-track {
  background: #f5f5f500 !important;
}

.MTop{
  margin-top: 132px;
}

.MTopmM {
  margin-top: -132px !important;
}

.step {
  height: 320px;
  border: 1px solid #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.stepContiner{
  display: inline-block;
  width: 100%;
}

.IllusLeftBlok{
  overflow:hidden;
  position: relative;
  width: 366px;
}

.stepNumber{
  @include Ti1;
  color: var(--purple-color);
  margin-bottom: 28px;
}

.stepTitle{
  @include Ti4;
  color: var(--balck-color);
  margin-bottom: 8px;
}
.stepSubTitle{
  @include Text2;
  color: var(--balck-color);
}

.img {
  position: absolute;
  // width: 100%;
  animation: animate 3s linear infinite;
}

.imgMob {
  position: absolute;
  width: 100%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(calc(-10px));
  }
}

@media screen and (max-width: 950px) {
  .stepNumber{
    @include Ti2;
    margin-bottom: 18px;
  }
  .stepTitle{
    @include Ti5;
    margin-bottom: 8px;
  }
  .stepSubTitle{
    @include Text3;
  }
}

@media screen and (max-width: 750px) {
  .IllusRightBlok {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
  }
  .MTop {
    margin-top: 0;
  }
  .MTopmM {
    margin-top: 0;
  }
  .step {
    height: 320px;
    border: none;
    border-bottom:1px solid #D9D9D9 ;
  }
}


@media screen and (max-width: 650px) {
  .Illustrations{
    margin-top: 80px;
    // height: 955px;
  }
  .IllusContainer{
    margin-top: 28px;
    height: 100%;
    margin-bottom: 20px;
  }
  .IllusTitle{
    @include Ti2;
  }

  .IllusLeftBlok{
    display:none;
  }

  .IllusRightBlok {
    flex: 1;
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-height: 187px;
  }
  .step {
    height: 187px;
    border: none;
   
    display: flex;
    padding: 0;
    flex-direction: inherit;
    gap: 32px;
  }

  .MTop {
    margin-top: 0;
  }
  .MTopmM {
      margin-top: 0;
  }
  @keyframes animate {
    0% {
      transform: translateY(-250px);
    }

    100% {
      transform: translateY(calc(-150px));
    }
  }
}
