@import "app/styles/variables/fotns";

.footerLeft {
  display: flex;
  width: 50%;
  flex-direction: column;
  border-right: 1px solid #ffffff2a;
  padding-right: 60px;
}

@media screen and (max-width: 650px) {
  .footerLeft {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ffffff2a;
    border-right: none;
    padding-right: 0;
  }
}
