@import "app/styles/variables/fotns";

.LangSwitcher {
  display: flex;
  gap: 2px;
  align-items: center;
}

.choose {
  font-weight: 600 !important;
  width: 25px;
  height: 20px;
  text-transform: uppercase;
  color: var(--balck-color);
}

.notChose {
  font-weight: 300 !important;
  width: 25px;
  height: 20px;
  text-transform: uppercase;
}

.displaySwit {
  display: none;
}

.en {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  outline: none;

  @include Ti6;
}

.ru {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  outline: none;

  @include Ti6;
}

@media screen and (max-width: 650px) {
  .LangSwitcher {
    display: none;
  }
}
