@import "app/styles/variables/fotns";

.LangSwitcher {
  display: flex;
  gap: 0.225rem;
  align-items: center;
}

.choose {
  font-weight: 600 !important;
}

.notChose {
  font-weight: 300 !important;
}

.displaySwit {
  display: none;
}

.en,
.ru {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  width: 1.56rem;
  height: 1.25rem;
  text-transform: uppercase;
  color: var(--balck-color);

  @include Ti6;

  &:hover {
    background: none;
    color: var(--balck-color);
    border: none;
  }
}

@media screen and (max-width: 650px) {
  .LangSwitcher {
    gap: 0;
  }
}

@media screen and (max-width: 350px) {
  .LangSwitcher {
    display: none;
  }
}
