@import "app/styles/variables/fotns";

.Properties {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}

.span8 {
  text-align: start;
  grid-column: span 8;
  @include Ti1;

  color: var(--black-color);
  span {
    color: var(--blue-color);
  }
}

.span4 {
  grid-column: span 4;
}

.itemContetn {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.PropertiesTitle {
  @include Ti4;

  color: var(--black-color);
}

.PropertiesSubTitle {
  @include Text2;

  color: var(--black-color);
}

.icons {
  width: 3.625rem;
  height: 5rem;
}

@media screen and (max-width: 768px) {
  .span8{
    grid-column: span 12;
  }

  .span4{
    grid-column: span 6;
  }

  .PropertiesTitle {
    @include Ti4;
  }

  .PropertiesSubTitle {
    @include Text3;
  }

  .span8 {
    @include Ti1;
  }

  .icons {
    width: 2.69rem;
    height: 3.75rem;
  }
}

@media screen and (max-width: 650px) {
  .Properties {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .span8{
    grid-column: span 1;
  }

  .span4{
    grid-column: span 1;
  }

  .PropertiesTitle {
    @include Ti5;
  }

  .PropertiesSubTitle {
    @include Text3;
  }

  .span8 {
    @include Ti2;
  }
}
