.app_dark_theme {
  --black-color: #f8f4fb;
  --dark-grey-color: #525257;
  --grey-color: #c4c4c4;
  --dark-white-color: #1b1b1d;
  --white-color: #050505;
  --purple-color: #450072;
  --blue-color: #17cee0;
  --oline-color: #24c200;
  --error-color: #ff2d1a;
  --modal-z-index: 10;
  --overlay-color: rgba(0 0 0 /60%);
}
