@import "app/styles/variables/fotns";

.primary-button-container {
  .primary-button {
    .MuiButton-root {
      border-radius: 6.25rem;
      min-width: auto;

      @include BTNT1;

      text-align: center;
      text-transform: none;
      color: var(--white-color);
      margin: 0;
      letter-spacing: 0.02em;

      .MuiCircularProgress-root {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .MuiButton-root:disabled {
    background: var(--blue-color);
    color: var(--white-color);
    opacity: 0.8;
  }

  .MuiButton-root:hover {
    color: var(--purple-color);
  }
}
