@import "app/styles/variables/fotns";

@keyframes tranformer {
  0% {
    background-color: rgb(255 255 255 / 0%);
  }

  100% {
    background-color: var(--white-color);
  }
}

@keyframes tranformerClose {
  0% {
    background-color: rgb(255 255 255 / 100%);
  }

  100% {
    background-color: rgb(255 255 255 / 0%);
  }
}

.headerWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  width: 100%;
  z-index: 6;
  animation-name: tranformerClose;
  animation-duration: 0.5s;
}

.HeaderBtn {
  // width: 16.32rem;
  width: 13.32rem;
  height: 2.5rem;
  padding: 0.5rem 1.5rem;
}

.contetn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding:0 12.5rem ;
  margin: 0.5rem auto;
}

.info {
  display: flex;
  gap: 3.44rem;
  align-items: center;
}

.scrollEvent {
  box-shadow: 0 0 7px rgb(17 0 29 / 8%);
  background-color: var(--white-color);
  animation-name: tranformer;
  animation-duration: 0.7s;
}

@media (max-width: 1599px) {
  .contetn {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0.5rem auto;
  }
  .HeaderBtn {
    width: 15.32rem;
    // @include BTNT2;
  }
}


@media screen and (max-width: 1200px) {
  .contetn {
    width: 100%;
    margin: 0.5rem auto;
    padding: 0 10px;
  }

  .HeaderBtn {
    width: 15.625rem;
  }
}


@media screen and (max-width: 768px) {
  .logo,
  .btn,
  .HeaderBtn{
    width: 8.875rem;
    height: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .lan {
    display: none;
  }
}
