@import "app/styles/variables/fotns";

@keyframes tranformer {
  0% {
    background-color: rgb(255 255 255 / 0%);
  }

  100% {
    background-color: var(--white-color);
  }
}

@keyframes tranformerClose {
  0% {
    background-color: rgb(255 255 255 / 100%);
  }

  100% {
    background-color: rgb(255 255 255 / 0%);
  }
}

.headerWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  width: 100%;
  z-index: 6;
  animation-name: tranformerClose;
  animation-duration: 0.5s;
}

.HeaderBtn {
  width: 261px;
}

.contetn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 23px auto;
}

.info {
  display: flex;
  gap: 55px;
  align-items: center;
}

.scrollEvent {
  box-shadow: 0 0 7px rgb(17 0 29 / 8%);
  background-color: var(--white-color);
  animation-name: tranformer;
  animation-duration: 0.7s;
}

@media screen and (max-width: 1400px) {
  .headerWrapper {
    width: 100%;
  }

  .contetn {
    max-width: 1200px;
    margin: 23px auto;
  }
}

@media screen and (max-width: 1200px) {
  .headerWrapper {
    width: 100%;
  }

  .contetn {
    width: 100%;
    margin: 23px auto;
    padding: 0 40px;
  }

  .HeaderBtn {
    width: 250px;
  }
}

@media screen and (max-width: 900px) {
  .headerWrapper {
    width: 100%;
  }

  .contetn {
    width: 100%;
    margin: 23px auto;
    padding: 0 40px;
  }

  .HeaderBtn {
    width: 200px;
  }
}

@media screen and (max-width: 765px) {
  .headerWrapper {
    width: 100%;
  }

  .contetn {
    width: 100%;
    margin: 23px auto;
    padding: 0 40px;
  }

  .logo {
    width: 142px;
    height: 32px;
  }

  .btn {
    width: 142px;
    height: 32px;
  }

  .HeaderBtn {
    width: 142px;
    height: 32px;
  }
}

@media screen and (max-width: 650px) {
  .headerWrapper {
    width: 100%;
  }

  .contetn {
    width: 100%;
    margin: 15px auto;
    padding: 0 10px;
  }

  .lan {
    display: none;
  }

  .HeaderBtn {
    width: 142px;
  }
}
