@import "app/styles/variables/fotns";

.headerWrapper {
  position: fixed;
  display: flex;
  background-color: rgba(18,18,18,0);
  flex-direction: column;
  box-shadow: none;
  width: 100%;
  z-index: 6;
}

.contetn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 23px auto;
}

.info {
  display: flex;
  gap: 55px;
  align-items: center;
}

.scrollEvent {
  box-shadow: 0 8px 12px rgb(17 0 29 / 8%);
  background-color: var(--white-color);
}

@media screen and (max-width: 1400px) {
  .headerWrapper {
    width: 100%;
  }

  .contetn {
    max-width: 1200px;
    margin: 23px auto;
   
  }
}

@media screen and (max-width: 1200px){
  .headerWrapper {
    width: 100%;
  }

  .contetn {
    width: 100%;
    margin: 23px auto;
    padding: 0 40px;
  }
}

@media screen and (max-width: 900px) {
  .headerWrapper {
    width: 100%;
  }

  .contetn {
    width: 100%;
    margin: 23px auto;
    padding: 0 40px;
  }
}

@media screen and (max-width: 765px) {
  .headerWrapper {
    width: 100%;
  }

  .contetn {
    width: 100%;
    margin: 23px auto;
    padding: 0 40px;
  }

  .logo {
    width: 142px;
    height: 32px;
  }

  .btn {
    width: 142px;
    height: 32px;
  }
}

@media screen and (max-width: 650px) {
  .headerWrapper {
    width: 100%;
  }

  .contetn {
    width: 100%;
    margin: 15px auto;
    padding: 0 10px;
  }

  .lan {
    display: none;
  }
}
