@import "app/styles/variables/fotns";

.FristBlock {
  min-height: 50.875rem;
}

.FristBlockTitles {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 7.5rem;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--purple-color);
  display: flex;
  flex-direction: column;

  :first-child {
    padding-left: 30%;
  }
}

.FristBlockContiner {
  display: flex;
  justify-content: space-between;
}

.FristBlockSubTitles {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--purple-color);
  display: flex;
  flex-direction: column;
  width: 60%;

  :first-child {
    text-align: start;
  }

  :last-child {
    text-align: end;
  }
}

.FristBlockDes {
  width: 15.2rem;
  @include Text2;
  color: var(--black-color);
}


@media screen and (max-width: 768px) {
  .FristBlock {
    min-height: 40.5rem;
  }

  .FristBlockTitles {
    font-size: 5rem;
    line-height: 89px;
  }

  .FristBlockSubTitles {
    font-size: 2.75rem;
    line-height: 55px;
  }
}

@media screen and (max-width: 650px) {
  // .FristBlock {
  //   // min-height: 2.5rem;
  // }

  .FristBlockTitles {
    font-size: 2.75rem;
    line-height: 49px;

    :first-child {
      padding-left: 40%;
    }
  }

  .FristBlockContiner {
    display: flex;
    flex-direction: column-reverse;
  }

  .FristBlockSubTitles {
    font-size: 1.5rem;
    line-height: 29px;
    display: flex;
    width: 100%;

    :first-child {
      text-align: center;
    }
  }

  .FristBlockDes {
    width: 13.8rem;

    @include Text3;
  }
}
