.label {
  position:relative;
  width: 5.625rem;
  height: 2.23rem;
}

.btn {
  width: 2.1rem;
  height: 2.1rem;
  border: none;
}

input {
  transform: scale(0);
}

.background{
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1.25rem;
  background: var(--dark-grey-color);
  transition: background 0.4s;
}

.knob{
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 2rem;
  height: 2rem;
  border-radius:50%;
  background: var(--white-color);
  transition: transform 0.4s;

}

input:checked + .background{
  background: var(--dark-grey-color);;

}

input:checked + .background .knob {
  transform: translateX(3.375rem);
}

.icons {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
}


@media screen and (max-width: 768px) {
  .label  {
    width: 4rem;
    height: 1.77rem;
  }

  .knob, .btn{
    width: 1.5rem;
    height: 1.5rem;
  }

  input:checked + .background .knob {
    transform: translateX(2.375rem);
  }

}

